{% extends 'base.html.twig' %}

{% block title %}CourseProduct index{% endblock %}

{% block body %}
    <h1>CourseProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course_product in course_products %}
            <tr>
                <td>{{ course_product.id }}</td>
                <td>{{ course_product.quantity }}</td>
                <td>
                    <a href="{{ path('app_course_product_show', {'id': course_product.id}) }}">show</a>
                    <a href="{{ path('app_course_product_edit', {'id': course_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_course_product_new') }}">Create new</a>
{% endblock %}
